{% extends 'base.html.twig' %}
{% block body %}
    <h1>Навигация</h1>
    <a href="{{ path('get_data') }}">Посмотреть таблицы</a><br>
    <a href="{{ path('write_branch') }}">Добавить группу</a><br>
    <a href="{{ path('write_manager') }}">Добавить менеджера</a><br>

{% endblock %}