{% extends 'base.html.twig' %}
{% block body %}
    <h1 id="test_head">Привет</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="photo">
        <textarea name="message" aria-label="" id="area" style="width: 400px; height: 400px" ></textarea>
        <textarea id="tyingBox" tabindex="1" placeholder="Enter Message"></textarea>
        <p class="content">Text will be replace here and after Stop typing it will get back</p>
{#        <input type="text" name="message" title="" id="input" onkeydown="set_width()">#}
        <button type="submit" name="submit" class="btn btn-primary">OK</button>

    </form>
    {#{{ form_widget(message) }}#}
    <button type="button" class="btn btn-dark-green" onclick="setActivity()">SendTest</button>

{% endblock %}

{% block javascripts %}
    <script>

        $('#tyingBox').keyup(function() {
            setActivity();
        });
    </script>

    <script>
        function setActivity() {
            console.log("111111");
            $.ajax({
                url: '/set-activity',
                method: 'GET',
                data: {}
            })
            .done(function (data) {
                console.log(data);
                $('#test_head').html(data.message);

            })

        }
    </script>


{% endblock %}
